/TriangleTracker.Solution/TriangleTracker/bin 
/TriangleTracker.Solution/TriangleTracker/obj
/TriangleTracker.Solution/TriangleTracker.Tests/obj 
/TriangleTracker.Solution/TriangleTracker.Tests/bin 

